In [1]:
import numpy as np
import pandas as pd
from utils.diff import diff

In [2]:
df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '存货净额', '应收账款净额'], low_memory=False)
df2 = pd.read_csv('../../data/csmar/季_利润表.csv', usecols=['证券代码', '会计期间', '营业收入', '利润总额', '管理费用'])
df3 = pd.merge(df1, df2, on=['证券代码', '会计期间'], how='left')
df3 = diff(df3, col=['营业收入', '利润总额', '管理费用'])

# 77.  sgr
# 季度频率。销售的季度百分比变化。
df3['sgr'] = (df3['营业收入'] - df3.groupby('证券代码').shift(1)['营业收入'])/df3.groupby('证券代码').shift(1)['营业收入'].replace(0, np.nan)

# 54.  pchgm_pchsale
# 季度频率。毛利率变动百分比减去销售变动百分比。
df3['pchgm_pchsale'] = (df3['利润总额'] - df3.groupby('证券代码').shift(1)['利润总额'])/df3.groupby('证券代码').shift(1)['利润总额'].replace(0, np.nan) - df3['sgr']

# 56.  pchsale_pchinvt
# 季度频率。销售的季度变动百分比减去存货的季度变动百分比。
df3['pchsale_pchinvt'] = df3['sgr'] - (df3['存货净额'] - df3.groupby('证券代码').shift(1)['存货净额'])/df3.groupby('证券代码').shift(1)['存货净额'].replace(0, np.nan)

# 57.  pchsale_pchrect
# 季度频率。销售额季度变动百分比减去应收账款季度变动百分比。
df3['pchsale_pchrect'] = df3['sgr'] - (df3['应收账款净额'] - df3.groupby('证券代码').shift(1)['应收账款净额'])/df3.groupby('证券代码').shift(1)['应收账款净额'].replace(0, np.nan)

# 58.  pchsale_pchxsga
# 季度频率。销售的季度变动百分比减去管理费用的季度变动百分比。
df3['pchsale_pchxsga'] = df3['sgr'] - (df3['管理费用'] - df3.groupby('证券代码').shift(1)['管理费用'])/df3.groupby('证券代码').shift(1)['管理费用'].replace(0, np.nan)

df4 = df3[['证券代码', '会计期间', 'pchgm_pchsale', 'pchsale_pchinvt', 'pchsale_pchrect', 'pchsale_pchxsga', 'sgr']]
df4.to_csv('../../output/csmar/季_54_56_57_58_77.csv', index=False, encoding='utf-8-sig')
df4

,证券代码,会计期间,pchgm_pchsale,pchsale_pchinvt,pchsale_pchrect,pchsale_pchxsga,sgr
0,1,1990-03-31,NaN,NaN,NaN,NaN,NaN
1,1,1990-06-30,NaN,NaN,NaN,NaN,NaN
2,1,1990-09-30,NaN,NaN,NaN,NaN,NaN
3,1,1990-12-31,NaN,NaN,NaN,NaN,NaN
4,1,1991-03-31,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
728835,900957,2022-03-31,-0.032104,NaN,0.002891,0.452861,0.084587
728836,900957,2022-06-30,0.572516,NaN,0.119725,0.585550,0.207368
728837,900957,2022-09-30,-0.236292,NaN,-0.178530,-0.893980,-0.157178
728838,900957,2022-12-31,0.730538,NaN,-0.061832,-0.535569,-0.148216
728839,900957,2023-03-31,-0.520879,NaN,0.120269,0.577458,0.202326