In [1]:
import numpy as np
import pandas as pd
from utils.diff import diff

In [2]:
# 84.  tb
# 季度频率。税收收入，定义为当期税收费用除以中国企业所得税税率25%，除以总收入。

df1 = pd.read_csv('../../data/csmar/季_利润表.csv', usecols=['证券代码', '会计期间', '减：所得税费用', '营业总收入'])
df1 = diff(df1, col=['减：所得税费用', '营业总收入'])
df1['tb'] = 4*df1['减：所得税费用']/df1['营业总收入'].replace(0, np.nan)
df2 = df1[['证券代码', '会计期间', 'tb']]
df2.to_csv('../../output/csmar/季_84.csv', index=False, encoding='utf-8-sig')
df2

          证券代码        会计期间        tb
0            1  1990-03-31       NaN
1            1  1990-06-30       NaN
2            1  1990-09-30       NaN
3            1  1990-12-31       NaN
4            1  1991-03-31       NaN
...        ...         ...       ...
728835  900957  2022-03-31  0.088455
728836  900957  2022-06-30  0.085406
728837  900957  2022-09-30  0.114129
728838  900957  2022-12-31  0.644647
728839  900957  2023-03-31  0.142180

[728840 rows x 3 columns]