In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '流动资产合计', '流动负债合计', '存货净额'], low_memory=False)

# 23.  currat
# 季度频率。流动资产与流动负债的比率。
df1['currat'] = df1['流动资产合计']/df1['流动负债合计'].replace(0, np.nan)

# 52. pchcurrat
# 季度频率。流动比率（流动负债除以流动资产）的变动百分比。
df1['pchcurrat'] = (df1['currat'] - df1.groupby('证券代码').shift(1)['currat'])/df1.groupby('证券代码').shift(1)['currat'].replace(0, np.nan)

# 63.  quick
# 季度频率。速动比率=(流动资产-存货)/流动负债
df1['quick'] = (df1['流动资产合计'] - df1['存货净额'])/df1['流动负债合计'].replace(0, np.nan)

# 55.  pchquick
# 季度频率。速动比率变动百分比。
df1['quick'] = df1['quick'].replace(0, np.nan)
df1['pchquick'] = (df1['quick'] - df1.groupby('证券代码').shift(1)['quick'])/df1.groupby('证券代码').shift(1)['quick'].replace(0, np.nan)

df2 = df1[['证券代码', '会计期间', 'currat', 'pchcurrat', 'pchquick', 'quick']]
df2.to_csv('../../output/csmar/季_23_52_55_63.csv', index=False, encoding='utf-8-sig')
df2

          证券代码        会计期间     currat  pchcurrat  pchquick  quick
0            1  1990-03-31        NaN        NaN       NaN    NaN
1            1  1990-06-30        NaN        NaN       NaN    NaN
2            1  1990-09-30        NaN        NaN       NaN    NaN
3            1  1990-12-31  14.289268        NaN       NaN    NaN
4            1  1991-03-31        NaN        NaN       NaN    NaN
...        ...         ...        ...        ...       ...    ...
728835  900957  2022-03-31   2.686638   0.027391       NaN    NaN
728836  900957  2022-06-30   2.903522   0.080727       NaN    NaN
728837  900957  2022-09-30   3.060850   0.054185       NaN    NaN
728838  900957  2022-12-31   3.042784  -0.005902       NaN    NaN
728839  900957  2023-03-31   3.258072   0.070754       NaN    NaN

[728840 rows x 6 columns]