In [1]:
import numpy as np
import pandas as pd

In [2]:
# 21.  chtx
# 季度频率。从第t-1季度到第t季度，税收的百分比变化。

df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '应交税费'], low_memory=False)
df1['chtx'] = (df1['应交税费'] - df1.groupby('证券代码').shift(1)['应交税费'])/df1.groupby('证券代码').shift(1)['应交税费'].replace(0, np.nan)
df2 = df1[['证券代码', '会计期间', 'chtx']]
df2.to_csv('../../output/csmar/季_21.csv', index=False, encoding='utf-8-sig')
df2

          证券代码        会计期间      chtx
0            1  1990-03-31       NaN
1            1  1990-06-30       NaN
2            1  1990-09-30       NaN
3            1  1990-12-31       NaN
4            1  1991-03-31       NaN
...        ...         ...       ...
728835  900957  2022-03-31  0.018710
728836  900957  2022-06-30 -0.086722
728837  900957  2022-09-30 -0.090308
728838  900957  2022-12-31  0.427000
728839  900957  2023-03-31 -0.021031

[728840 rows x 3 columns]