In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '资产总计'], low_memory=False)
df1['年'] = df1['会计期间'].apply(lambda x: True if x[5:7] == '12' else False)
df1 = df1[df1['年']].reset_index().drop(columns=['index'])
df1['agr'] = (df1['资产总计'] - df1.groupby('证券代码').shift(1)['资产总计'])/df1.groupby('证券代码').shift(1)['资产总计'].replace(0, np.nan)
df2 = df1[['证券代码', '会计期间', 'agr']]
df2.to_csv('../../output/csmar/年_3.csv', index=False, encoding='utf-8-sig')
df2

          证券代码        会计期间       agr
0            1  1990-12-31       NaN
1            1  1991-12-31  0.491667
2            1  1992-12-31  0.727619
3            1  1993-12-31  0.241268
4            1  1994-12-31  0.658666
...        ...         ...       ...
180835  900957  2018-12-31 -0.012189
180836  900957  2019-12-31  0.010638
180837  900957  2020-12-31 -0.008993
180838  900957  2021-12-31  0.014848
180839  900957  2022-12-31  0.041923

[180840 rows x 3 columns]